<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.purchase.mapper.BizBalanceLogMapper">
    
    <resultMap type="BizBalanceLog" id="BizBalanceLogResult">
        <result property="logId"    column="log_id"    />
        <result property="userId"    column="user_id"    />
        <result property="changeType"    column="change_type"    />
        <result property="changeAmount"    column="change_amount"    />
        <result property="beforeBalance"    column="before_balance"    />
        <result property="afterBalance"    column="after_balance"    />
        <result property="relatedOrderId"    column="related_order_id"    />
        <result property="description"    column="description"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectBizBalanceLogVo">
        select log_id, user_id, change_type, change_amount, before_balance, after_balance, related_order_id, description, create_time from biz_balance_log
    </sql>

    <select id="selectBizBalanceLogList" parameterType="BizBalanceLog" resultMap="BizBalanceLogResult">
        <include refid="selectBizBalanceLogVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="changeType != null  and changeType != ''"> and change_type = #{changeType}</if>
            <if test="changeAmount != null "> and change_amount = #{changeAmount}</if>
            <if test="beforeBalance != null "> and before_balance = #{beforeBalance}</if>
            <if test="afterBalance != null "> and after_balance = #{afterBalance}</if>
            <if test="relatedOrderId != null "> and related_order_id = #{relatedOrderId}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectBizBalanceLogByLogId" parameterType="Long" resultMap="BizBalanceLogResult">
        <include refid="selectBizBalanceLogVo"/>
        where log_id = #{logId}
    </select>

    <insert id="insertBizBalanceLog" parameterType="BizBalanceLog" useGeneratedKeys="true" keyProperty="logId">
        insert into biz_balance_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="changeType != null and changeType != ''">change_type,</if>
            <if test="changeAmount != null">change_amount,</if>
            <if test="beforeBalance != null">before_balance,</if>
            <if test="afterBalance != null">after_balance,</if>
            <if test="relatedOrderId != null">related_order_id,</if>
            <if test="description != null">description,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="changeType != null and changeType != ''">#{changeType},</if>
            <if test="changeAmount != null">#{changeAmount},</if>
            <if test="beforeBalance != null">#{beforeBalance},</if>
            <if test="afterBalance != null">#{afterBalance},</if>
            <if test="relatedOrderId != null">#{relatedOrderId},</if>
            <if test="description != null">#{description},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateBizBalanceLog" parameterType="BizBalanceLog">
        update biz_balance_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="changeType != null and changeType != ''">change_type = #{changeType},</if>
            <if test="changeAmount != null">change_amount = #{changeAmount},</if>
            <if test="beforeBalance != null">before_balance = #{beforeBalance},</if>
            <if test="afterBalance != null">after_balance = #{afterBalance},</if>
            <if test="relatedOrderId != null">related_order_id = #{relatedOrderId},</if>
            <if test="description != null">description = #{description},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where log_id = #{logId}
    </update>

    <delete id="deleteBizBalanceLogByLogId" parameterType="Long">
        delete from biz_balance_log where log_id = #{logId}
    </delete>

    <delete id="deleteBizBalanceLogByLogIds" parameterType="String">
        delete from biz_balance_log where log_id in 
        <foreach item="logId" collection="array" open="(" separator="," close=")">
            #{logId}
        </foreach>
    </delete>
</mapper>