<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.purchase.mapper.BizCdkCategoryMapper">
    
    <resultMap type="BizCdkCategory" id="BizCdkCategoryResult">
        <result property="categoryId"    column="category_id"    />
        <result property="categoryName"    column="category_name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="icon"    column="icon"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBizCdkCategoryVo">
        select category_id, category_name, parent_id, sort_order, icon, status, create_by, create_time, update_by, update_time, remark from biz_cdk_category
    </sql>

    <select id="selectBizCdkCategoryList" parameterType="BizCdkCategory" resultMap="BizCdkCategoryResult">
        <include refid="selectBizCdkCategoryVo"/>
        <where>  
            <if test="categoryName != null  and categoryName != ''"> and category_name like concat('%', #{categoryName}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="sortOrder != null "> and sort_order = #{sortOrder}</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBizCdkCategoryByCategoryId" parameterType="Long" resultMap="BizCdkCategoryResult">
        <include refid="selectBizCdkCategoryVo"/>
        where category_id = #{categoryId}
    </select>

    <insert id="insertBizCdkCategory" parameterType="BizCdkCategory" useGeneratedKeys="true" keyProperty="categoryId">
        insert into biz_cdk_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">category_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="icon != null">icon,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">#{categoryName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="icon != null">#{icon},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBizCdkCategory" parameterType="BizCdkCategory">
        update biz_cdk_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">category_name = #{categoryName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteBizCdkCategoryByCategoryId" parameterType="Long">
        delete from biz_cdk_category where category_id = #{categoryId}
    </delete>

    <delete id="deleteBizCdkCategoryByCategoryIds" parameterType="String">
        delete from biz_cdk_category where category_id in 
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>
</mapper>