<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.purchase.mapper.BizProductCategoryMapper">
    
    <resultMap type="BizProductCategory" id="BizProductCategoryResult">
        <result property="productId"    column="product_id"    />
        <result property="categoryId"    column="category_id"    />
    </resultMap>

    <sql id="selectBizProductCategoryVo">
        select product_id, category_id from biz_product_category
    </sql>

    <select id="selectBizProductCategoryList" parameterType="BizProductCategory" resultMap="BizProductCategoryResult">
        <include refid="selectBizProductCategoryVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectBizProductCategoryByProductId" parameterType="Long" resultMap="BizProductCategoryResult">
        <include refid="selectBizProductCategoryVo"/>
        where product_id = #{productId}
    </select>

    <insert id="insertBizProductCategory" parameterType="BizProductCategory">
        insert into biz_product_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">product_id,</if>
            <if test="categoryId != null">category_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">#{productId},</if>
            <if test="categoryId != null">#{categoryId},</if>
         </trim>
    </insert>

    <update id="updateBizProductCategory" parameterType="BizProductCategory">
        update biz_product_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null">category_id = #{categoryId},</if>
        </trim>
        where product_id = #{productId}
    </update>

    <delete id="deleteBizProductCategoryByProductId" parameterType="Long">
        delete from biz_product_category where product_id = #{productId}
    </delete>

    <delete id="deleteBizProductCategoryByProductIds" parameterType="String">
        delete from biz_product_category where product_id in 
        <foreach item="productId" collection="array" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>
</mapper>