<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.user.mapper.GameTypeMapper">

    <resultMap type="GameType" id="GameTypeResult">
        <result property="typeId"       column="type_id"        />
        <result property="typeName"     column="type_name"      />
        <result property="createTime"   column="create_time"    />
        <result property="remark"       column="remark"         />
    </resultMap>

    <sql id="selectGameTypeVo">
        select
            type_id,
            type_name,
            create_time,
            remark
        from biz_game_type
    </sql>

    <select id="selectGameTypeList" parameterType="GameType" resultMap="GameTypeResult">
        <include refid="selectGameTypeVo"/>
        <where>
            <if test="typeName != null and typeName != ''">
                AND type_name like concat('%', #{typeName}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectGameTypeById" parameterType="Integer" resultMap="GameTypeResult">
        <include refid="selectGameTypeVo"/>
        where type_id = #{typeId}
    </select>

    <select id="selectAllGameTypeList" resultMap="GameTypeResult">
        <include refid="selectGameTypeVo"/>
        order by create_time desc
    </select>

    <select id="selectGameTypeListByName" parameterType="String" resultMap="GameTypeResult">
        <include refid="selectGameTypeVo"/>
        where type_name like concat('%', #{typeName}, '%')
        order by create_time desc
    </select>

</mapper>