<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.forum.mapper.BizPostMapper">
    
    <resultMap type="BizPost" id="BizPostResult">
        <result property="postId"    column="post_id"    />
        <result property="postTitle"    column="post_title"    />
        <result property="postContent"    column="post_content"    />
        <result property="userId"    column="user_id"    />
        <result property="sectionId"    column="section_id"    />
        <result property="likeCount"    column="like_count"    />
        <result property="commentCount"    column="comment_count"    />
        <result property="viewCount"    column="view_count"    />
        <result property="topFlag"    column="top_flag"    />
        <result property="hotFlag"    column="hot_flag"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBizPostVo">
        select post_id, post_title, post_content, user_id, section_id, like_count, comment_count, view_count, top_flag, hot_flag, status, del_flag, create_by, create_time, update_by, update_time, remark from biz_post
    </sql>

    <select id="selectBizPostList" parameterType="BizPost" resultMap="BizPostResult">
        <include refid="selectBizPostVo"/>
        <where>  
            <if test="postTitle != null  and postTitle != ''"> and post_title like concat('%', #{postTitle}, '%')</if>
            <if test="postContent != null  and postContent != ''"> and post_content like concat('%', #{postContent}, '%')</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="sectionId != null "> and section_id = #{sectionId}</if>
            <if test="likeCount != null "> and like_count = #{likeCount}</if>
            <if test="commentCount != null "> and comment_count = #{commentCount}</if>
            <if test="viewCount != null "> and view_count = #{viewCount}</if>
            <if test="topFlag != null  and topFlag != ''"> and top_flag = #{topFlag}</if>
            <if test="hotFlag != null  and hotFlag != ''"> and hot_flag = #{hotFlag}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectBizPostByPostId" parameterType="Long" resultMap="BizPostResult">
        <include refid="selectBizPostVo"/>
        where post_id = #{postId}
    </select>

    <insert id="insertBizPost" parameterType="BizPost" useGeneratedKeys="true" keyProperty="postId">
        insert into biz_post
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="postTitle != null and postTitle != ''">post_title,</if>
            <if test="postContent != null and postContent != ''">post_content,</if>
            <if test="userId != null">user_id,</if>
            <if test="sectionId != null">section_id,</if>
            <if test="likeCount != null">like_count,</if>
            <if test="commentCount != null">comment_count,</if>
            <if test="viewCount != null">view_count,</if>
            <if test="topFlag != null">top_flag,</if>
            <if test="hotFlag != null">hot_flag,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="postTitle != null and postTitle != ''">#{postTitle},</if>
            <if test="postContent != null and postContent != ''">#{postContent},</if>
            <if test="userId != null">#{userId},</if>
            <if test="sectionId != null">#{sectionId},</if>
            <if test="likeCount != null">#{likeCount},</if>
            <if test="commentCount != null">#{commentCount},</if>
            <if test="viewCount != null">#{viewCount},</if>
            <if test="topFlag != null">#{topFlag},</if>
            <if test="hotFlag != null">#{hotFlag},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBizPost" parameterType="BizPost">
        update biz_post
        <trim prefix="SET" suffixOverrides=",">
            <if test="postTitle != null and postTitle != ''">post_title = #{postTitle},</if>
            <if test="postContent != null and postContent != ''">post_content = #{postContent},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="sectionId != null">section_id = #{sectionId},</if>
            <if test="likeCount != null">like_count = #{likeCount},</if>
            <if test="commentCount != null">comment_count = #{commentCount},</if>
            <if test="viewCount != null">view_count = #{viewCount},</if>
            <if test="topFlag != null">top_flag = #{topFlag},</if>
            <if test="hotFlag != null">hot_flag = #{hotFlag},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where post_id = #{postId}
    </update>

    <delete id="deleteBizPostByPostId" parameterType="Long">
        delete from biz_post where post_id = #{postId}
    </delete>

    <delete id="deleteBizPostByPostIds" parameterType="String">
        delete from biz_post where post_id in 
        <foreach item="postId" collection="array" open="(" separator="," close=")">
            #{postId}
        </foreach>
    </delete>
</mapper>