<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.forum.mapper.BizUserFollowMapper">

    <resultMap type="BizUserFollow" id="BizUserFollowResult">
        <result property="followerId"           column="follower_id"           />
        <result property="followingId"          column="following_id"          />
        <result property="createTime"           column="create_time"           />
        <result property="followerNickName"     column="follower_nick_name"    />
        <result property="followingNickName"    column="following_nick_name"   />
    </resultMap>

    <sql id="selectBizUserFollowVo">
        select
            buf.follower_id,
            buf.following_id,
            buf.create_time,
            su1.nick_name as follower_nick_name,
            su2.nick_name as following_nick_name
        from biz_user_follow buf
                 left join sys_user su1 on buf.follower_id = su1.user_id
                 left join sys_user su2 on buf.following_id = su2.user_id
    </sql>

    <select id="selectBizUserFollowList" parameterType="BizUserFollow" resultMap="BizUserFollowResult">
        <include refid="selectBizUserFollowVo"/>
        <where>
            <if test="followerId != null">
                and buf.follower_id = #{followerId}
            </if>
            <if test="followingId != null">
                and buf.following_id = #{followingId}
            </if>
            <if test="followerNickName != null and followerNickName != ''">
                and su1.nick_name like concat('%', #{followerNickName}, '%')
            </if>
            <if test="followingNickName != null and followingNickName != ''">
                and su2.nick_name like concat('%', #{followingNickName}, '%')
            </if>
        </where>
        order by buf.create_time desc
    </select>

    <select id="selectBizUserFollowByFollowerId" parameterType="Long" resultMap="BizUserFollowResult">
        <include refid="selectBizUserFollowVo"/>
        where buf.follower_id = #{followerId}
    </select>

    <insert id="insertBizUserFollow" parameterType="BizUserFollow">
        insert into biz_user_follow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="followerId != null">follower_id,</if>
            <if test="followingId != null">following_id,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="followerId != null">#{followerId},</if>
            <if test="followingId != null">#{followingId},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateBizUserFollow" parameterType="BizUserFollow">
        update biz_user_follow
        <trim prefix="SET" suffixOverrides=",">
            <if test="followingId != null">following_id = #{followingId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where follower_id = #{followerId}
    </update>

    <delete id="deleteBizUserFollowByFollowerId" parameterType="Long">
        delete from biz_user_follow where follower_id = #{followerId}
    </delete>

    <delete id="deleteBizUserFollowByFollowerIds" parameterType="String">
        delete from biz_user_follow where follower_id in
        <foreach item="followerId" collection="array" open="(" separator="," close=")">
            #{followerId}
        </foreach>
    </delete>
</mapper>